---
title: "메인"
keywords: "자바,닷넷,리눅스,정보시스템,오픈소스,플렛폼,아이티,java,asp.net,platform,.net,IT,kubernetes,istio,python"
description: "자바,닷넷,리눅스,클라우드 등 각종 오픈소스 및 오픈 플렛폼 기술 공유 블로그 입니다"
---
<!DOCTYPE html>
<html>
<head>
	{% include html.head.html %}
	<!--[if lte IE 8]><script src="{{site.baseurl}}/resources/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{site.baseurl}}/resources/css/index.main.css"/>
	<!--[if lte IE 8]><link rel="stylesheet" href="{{site.baseurl}}/resources/css/index.ie8.css" /><![endif]-->
</head>

<body>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="{{site.baseurl}}/resources/img/index/avatar2.jpg" alt="" /></a>
				<h1><strong>eunsang cho</strong></h1>
				<h5>백발을 휘날리며 코딩하기<br>60세에 창업하기<br>마당있는 집에서 골든리트리버 기르기</h5>
			</header>
		<!-- Main -->
			<div id="main">
				<section>
					<header class="major">
						<h2>사람과기술</h2>
					</header>
<p>학창시절 순전히 논문 쓰기 싫다는 이유로 졸업작품 만들기로부터 시작된 소프트웨어 개발 생활이 어느새 20년이 훌쩍 넘었버렸네요.
그 동안 적지 않은 어려움 속에서도 개발을 놓지 않으려 노력한 덕분에 아직까지도 현역에서 개발이란 것을 하고 있는것 같습니다.
지금처럼 소스코드를 만들어내는 일을 언제까지 이어갈 수 있을지 하루하루 안개속이지만 겸손하고 감사한 마음으로 하루하루를 살아가고자 합니다.</p>
						<p>개발하면서 얻는 소소한 지식을 공유합니다. 자바, 닷넷, 리눅스, 클라우드, 오픈소스 관련 작지만 도움이 될만한 S/W기술들을 이야기하고 있습니다.</p>
					</section>
				<section id="two">
					<h2>Interests</h2>
					<div class="row" id="tagcloud">
						{% include tagcloud.html %}
					</div>
					<div class="row">
						{% for cate in site.category %}
						<article class="6u 12u$(xsmall) work-item">
							<h3><a href="{{site.baseurl}}/posts/{{cate.code}}">{{cate.name}}</a></h3>
							<p>{{cate.desc}}</p>
						</article>
						{% endfor %}
					</div>
				</section>
				<section>
					<h2>Popular Posts</h2>
					<section>
						{% assign pages = site.posts | where: "tags", "popular"%}
						{% for post in pages %}
						<article class="12u$(xsmall) work-item">
							<h3><a href="{{post.url}}">{{post.title}}</a></h3>
							<p><a href="{{site.baseurl}}/posts/{{post.categories}}">{{post.categories}}</a> / Posted at {{ post.date | date: "%Y/%m/%d %H:%M" }}</p>
						</article>
						{% endfor %}
					</section>
				</section>
				<section>
					<h2>Recent Posts</h2>
					<section>
						{% assign pages = site.posts | sort: "date" | reverse %}
						{% for post in pages limit:5 %}
						<article class="12u$(xsmall) work-item">
							<h3><a href="{{post.url}}">{{post.title}}</a></h3>
							<p><a href="{{site.baseurl}}/posts/{{post.categories}}">{{post.categories}}</a> / Posted at {{ post.date | date: "%Y/%m/%d %H:%M" }}</p>
						</article>
						{% endfor %}
					</section>
				</section>
			</div>
			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.youracclaim.com/badges/607847b2-66d2-453e-9eaa-b470a91d8dd5/public_url" target="_blank" class="icon" style="vertical-align:middle"><img src="/resources/img/index/cka-certified-kubernetes-administrator.png" style="width:30px;height:30px"></a></li>
					<li><a href="https://www.facebook.com/cho.eunsang" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://github.com/itnpeople" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="mailto:itnpeople@naver.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					<li><a href="/resources/roulette/index.html" target="_blank"  class="icon fa-angellist"><span class="label">Roulette</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 사람과기술</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<div id="fb-root"></div><script type="text/javascript" src="{{site.baseurl}}/resources/js/fb.js"></script>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
			{% if site.is_google_analytics %}<script type="text/javascript" src="{{site.baseurl}}/resources/js/ga.js"></script>{% endif %}
			<script type="text/javascript" src="{{site.baseurl}}/resources/js/jquery.poptrox.min.js"></script>
			<script type="text/javascript" src="{{site.baseurl}}/resources/js/skel.min.js"></script>
			<script type="text/javascript" src="{{site.baseurl}}/resources/js/index.util.js"></script>
			<!--[if lte IE 8]><script src="{{site.baseurl}}/resources/js/ie/respond.min.js"></script><![endif]-->
			<script type="text/javascript" src="{{site.baseurl}}/resources/js/index.main.js"></script>
</body>
<script>
window.onload = window.onresize = function() {
	RenderTagCloud(document.getElementById("tagcloud"))
}
</script>
</html>
