---
title: "메인"
keywords: "자바,닷넷,리눅스,정보시스템,오픈소스,플렛폼,아이티,java,asp.net,platform,.net,IT,kubernetes,istio,python"
description: "자바,닷넷,리눅스 등 각종 오픈소스 및 오픈 플렛폼 기술 공유 블로그 입니다"
---
<!DOCTYPE html>
<html>
<head>
	{% include html.head.html %}
	<!--[if lte IE 8]><script src="{{site.baseurl}}/resources/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{site.baseurl}}/resources/css/index.main.css"/>
	<!--[if lte IE 8]><link rel="stylesheet" href="{{site.baseurl}}/resources/css/index.ie8.css" /><![endif]-->
</head>

<body>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="{{site.baseurl}}/resources/img/index/avatar.jpg" alt="" /></a>
				<h1><strong>eunsang cho</strong></h1>
                <h5>백발을 휘날리며 코딩하기 / 60세에 창업하기 / 마당있는 집에서 골든리트리버 기르기</h5>
                <p>대학시절 논문쓰기 싫어서 시작했던  졸업작품 개발에서 시작한  소프트웨어 개발 생활이 20년이 훌쩍 넘었네요.
지난 세월 한국 소프트웨어 업계 관행으로 관리업무를 해야만하는 현실속에 개발을 병행하거나 때로는 하지 못하는 위기 상황도 있었지만
지금까지 현역에서 개발을 할 수 있다는 사실에 뿌듯함을 느끼고는 합니다.
하지만 어느 순간부터 은퇴를 앞둔 프로야구 선수 마냥 현실에서 조금씩 천천히 물리적인 한계가 오고 있음을 직감하고 있습니다.
언제까지가 될지 모르겠지만 그 마지막 주어진 시간까지 하루하루를 겸손한 마음으로 감사하며 살고자 합니다.</p>
			</header>
		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>사람과기술</h2>
						</header>
						<p>개발하면서 얻는 소소한 지식을 공유합니다. 자바, 닷넷, 리눅스, 오픈소스 관련 작지만 도움이 될만한 S/W기술들을 이야기하고 있습니다.</p>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Interests</h2>
						<div class="row">
							{% for cate in site.category %}
							<article class="6u 12u$(xsmall) work-item">
								<h3><a href="{{site.baseurl}}/posts/{{cate.code}}">{{cate.name}}</a></h3>
								<p>{{cate.desc}}</p>
							</article>
							{% endfor %}
						</div>
					</section>
					
				<!-- Three -->
					<section id="three">
						<h2>Popular Posts</h2>
						<section>
							{% assign pages = site.posts | where: "tags", "popular"%}
							{% for post in pages %}
							<article class="12u$(xsmall) work-item">
								<h3><a href="{{post.url}}">{{post.title}}</a></h3>
								<p><a href="{{site.baseurl}}/posts/{{post.categories}}">{{post.categories}}</a> / Posted at {{ post.date | date: "%Y/%m/%d %H:%M" }}</p>
							</article>
							{% endfor %}
						</section>
					</section>

				<!-- Four -->
					<section id="four">
						<h2>Recent Posts</h2>
						<section>
							{% assign pages = site.posts | where: "tags", "recent"%}
							{% for post in pages %}
							<article class="12u$(xsmall) work-item">
								<h3><a href="{{post.url}}">{{post.title}}</a></h3>
								<p><a href="{{site.baseurl}}/posts/{{post.categories}}">{{post.categories}}</a> / Posted at {{ post.date | date: "%Y/%m/%d %H:%M" }}</p>
							</article>
							{% endfor %}
						</section>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.facebook.com/cho.eunsang" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://twitter.com/itnpeople" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="mailto:itnpeople@naver.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					<li><a href="/resources/roulette/index.html" target="_blank"  class="icon fa-angellist"><span class="label">Roulette</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 사람과기술</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<div id="fb-root"></div><script type="text/javascript" src="{{site.baseurl}}/resources/js/fb.js"></script>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
			{% if site.is_google_analytics %}<script type="text/javascript" src="{{site.baseurl}}/resources/js/ga.js"></script>{% endif %}
			<script type="text/javascript" src="{{site.baseurl}}/resources/js/jquery.poptrox.min.js"></script>
			<script type="text/javascript" src="{{site.baseurl}}/resources/js/skel.min.js"></script>
			<script type="text/javascript" src="{{site.baseurl}}/resources/js/index.util.js"></script>
			<!--[if lte IE 8]><script src="{{site.baseurl}}/resources/js/ie/respond.min.js"></script><![endif]-->
			<script type="text/javascript" src="{{site.baseurl}}/resources/js/index.main.js"></script>
</body>
</html>
