
<ul class="nav nav-list">
	<li class="nav-header">CATEGORIES</li>
	{% for cate in site.category %}
	<li><a {% if cate.code == page.categories %}class="active" {% endif %}href="{{site.baseurl}}/posts/{{cate.code}}" >{{cate.name}}</a></li>
	{% endfor %}
</ul>

<hr>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 블로그 RNB -->
<ins class="adsbygoogle"
	style="display:inline-block;width:300px;height:600px"
	data-ad-client="ca-pub-6233078817487377"
	data-ad-slot="6725718482"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>