:root {
  --color-border-secondary: #eaecef;
  --color-bg: #fff;
  --color-bg-secondary: #fff;
  --color-bg-tertiary: #f6f8fa;
}
pre, code, pre code {
	border: none;
	border-radius: 0;
	background-color: #f9f9f9;
	-moz-tab-size:    4; /* Firefox 4+ */
	-o-tab-size:      4; /* Opera 11.5 & 12.1 only */
	tab-size:         4; /* Chrome 21+, Safari 6.1+, Opera 15+ */
}
ul,ol {
    padding-left: 1.5em;
}
li {
	line-height: 1.8em;
}
p { 
	line-height: 1.8em;
} 
.highlight {
	background-color: #f9f9f9;
}

.page-content {
	padding-bottom: 10px;
	margin-top: 30px;
}
.navbar-default  {
	background-color: #2f72b5; 
	background-image: linear-gradient(to bottom, #2f89ca, #2f59c9);
	border-color: #2f3fdc;
}
.navbar-default li.nav-item > a {
	color: var(--color-bg-secondary);
}

.breadcrumb {
	background-color: var(--color-bg-secondary);
	margin: 0
}

nav i.fa {color: var(--color-bg-secondary); margin-left: .2em}

.page-content .h1,h1{
	font-size:1.8em; font-weight: 600;
	padding: .3em 0 .5em 0;
}
.page-content .h2,h2{
	font-size:1.5em; font-weight: 600;
	padding: .3em 0 .5em 0;
	margin: 1.2em 0 1em 0;
	border-bottom: 1px solid var(--color-border-secondary);
}
.page-content .h3,h3{
	font-size:1.2em; font-weight: 600;
	padding-top: .5em;
}
.page-content .h4,h4{font-size:1.2em}
.page-content .h5,h5{font-size:1.1em}
.page-content .h6,h6{font-size:1em}


.page-content pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--color-bg-tertiary);
    border-radius: 6px;
	border-bottom: 1px solid var(--color-border-secondary);
}

#rnb li.active > a {color:#fff}



/* hr {margin-top:0px;margin-bottom: 10px;}
pre {padding: 5px;font-size:12px;}
blockquote {font-size:1em;padding:10px 5px;}

li > p {padding-left:0px;}
p {padding-left:20px;line-height: 1.6em;margin-bottom:5px;}
ul { padding-left: 30px;}
ul>li>ul { padding-left: 10px;}
div.highlight {margin-left:20px;}
.nav>li.nav-header {padding-bottom: 10px;}

#body {line-height: 2em}
#body img{max-width:100%;}
#body li img{max-width:90%;}


.posts-item { padding-top: 10px; }
.posts-item h2 {font-weight:400}
.posts-item p {color:#666}
.posts-item p.desc {margin:1em 2em 1.8em 0;}
.posts-item p.date {font-size:0.9em; margin-bottom: 5px;color:#999;}
.posts-item p.keyword {font-size:0.9em;margin-bottom: 5px;color:#999;}

@media (min-width:768px) {
    .posts-item p.desc {margin-right: 2em;}
}

@media (min-width:992px) {
    .posts-item p.desc {margin-right: 5em;}
}

@media (min-width:1200px) {
    .posts-item p.desc {margin-right: 10em;}
}
 */
