---
layout: default
---
{% for cate in site.category %}
	{% if page.categories contains cate.code %}
		{% assign category = cate.name %}
	{% endif %}
{% endfor %}
<div class="row">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{site.baseurl}}/posts/categories.html">Categories</a></li>
			<li class="breadcrumb-item"><a href="{{site.baseurl}}/posts/{{page.categories}}.html">{{ category }}</a></li>
		</ol>
	</nav>
</div>
<div class="row">
	<div id="body" class="col-sm-12">
		{{ content }}
		<p class="text-right text-info">posted at {{page.date | date: "%Y/%m/%d %H:%M" }} <img src="http://hits.dwyl.com/{{site.domain}}{{page.url}}.svg"></p>
	</div>
</div>